html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: 'Noto-sans', sans-serif;
  width: 100vw;
  /* background: #000; */
  /* color: #c2c1c1; */
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

a {
  background-color: transparent;
}

img {
  border-style: none;
}

[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted;
}

[type='checkbox'],
[type='radio'] {
  box-sizing: border-box;
  padding: 0;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

[hidden] {
  display: none;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 5px;
}

* {
  transition: 0.5s;
  font-weight: 100;
  outline: 0;
  box-sizing: border-box;
}

div#overlay {
  width: 100vw;
  height: 100vw;
  background: rgba(0, 0, 0, 0);

  position: fixed;
  color: white;
  text-align: center;
  align-items: center;
  display: none;
  text-transform: capitalize;
}
div#overlay.on {
  display: inline;

  background: rgba(0, 0, 0, 0.7);
}
#overlay img {
  width: 120px;
  margin-top: 200px;
}

div.container {
  width: 100vw;
  overflow: hidden;
  padding: 20px;
  text-align: center;
}

div.container img {
  width: 100%;
  max-width: 600px;
  padding: 10px;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 25%;
  z-index: 0;
}
div.container h1 {
  font-size: 44px;
  font-family: 'Roboto', serif;
  font-weight: 300;
  margin-bottom: 20px;
}
.chat-messages {
  padding: 30px;
  max-height: 500px;
  overflow-y: scroll;
  padding-bottom: 225px;
}

.chat-messages .message {
  padding: 10px;
  margin: 15px;
  background-color: #777;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  color: #fff;
  text-align: left;
  border-radius: 5px;
  overflow-wrap: break-word;
}

.chat-messages .message .meta {
  font-size: 15px;
  font-weight: bold;
  opacity: 0.7;
  margin-bottom: 7px;
}

.chat-messages .message .meta span {
  color: #777;
}

div.container .selectpicker {
  padding: 10px;
  border-radius: 12px;
  width: 120px;
  font-size: 20px;
}
.selectpicker:hover {
  cursor: pointer;
}
div.lang {
  padding: 10px;
  gap: 20px;
  display: grid;
  grid-template-columns: min-content min-content;
  grid-template-areas: 'file file';
  width: min-content;
  margin: auto;
}
button.btn {
  width: 110px;
  font-size: 22px;
  margin-top: 10px;
}
#recorder {
  width: min-content;
  margin: auto;
  grid-area: file;
}
